* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &::selection {
        background-color: $selection-color;
        color: $elem-color;
    }
}

html, body, #root {
    height: 100%;
    width: 100%;
}

#root {
    background-color: $bcg-color;
    transition: background-color 0.3s ease;
}

.container {
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
}

.wrapper {
    position: relative;
    height: 100%;
}