$main-color: rgb(171, 47, 13);
$bcg-color: rgba(165, 165, 165);
$modal-color: rgb(225, 225, 225);
$warning-color: rgb(255, 247, 0);
$list-color: rgb(199, 197, 197);
$elem-color: rgba(0, 0, 0);
$input-text-color: rgb(119, 119, 119);
$selection-color: rgb(171, 63, 32);


$main-color-bt: rgb(126, 27, 0);
$bcg-color-bt: rgb(165, 165, 165);
// $modal-color-bt: rgb(225, 225, 225); #797979
$warning-color-bt: rgb(255, 215, 51);
// $list-color-bt: rgb(199, 197, 197); #979797
$elem-color-bt: rgba(0, 0, 0);
$expired-lis-btt: rgb(129, 103, 103);
$warning-list-bt: rgb(147, 132, 70);
$input-text-color-bt: rgb(119, 119, 119);
$selection-color-bt: rgb(171, 63, 32);
