.button {
    position: relative;
    width: 130px;
    height: 50px;
    margin-top: 20px;
    color: $third-color;
    background-color: $main-color;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn_show_my_users {
    position: absolute;
    margin-top: 75px;
    left: 50%;
    transform: translateX(-50%);
}

.btn_show_my_users.hidden, .btn_add_new_user.hidden {
    display: none;
}

.submit {
    width: auto;
    margin-top: 0px;
    height: 12%;
}

.submit_edit {
    margin-top: 0;
    height: 30px;
    padding: 5px;
}

.btn_add_new_user{
    position: absolute;
    max-height: 45px;
    margin-top: 0;
    bottom: 15px;
}