.close_modal_main, .close_modal_form_add_users, .close_modal_edit_user, .modal_notification-close {
    display: inline-block;
    position: absolute;
    top: 4px;
    right: 5px;
    width: 18px;
    height: 18px;
    background: url('../icons/Close.svg') center center/cover no-repeat;
}

.close_modal_edit_user {
    width: 30px;
    height: 30px;
    right: 0;
    top: 0;
}

.close_modal_main.hidden{
    display: none;
}