.closeModalAdminPanel:hover, .closeModalAddUsers:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.closeModalEditUser:hover {
    cursor: pointer;
    top: 6px;
    transform: scale(1.2);
}

.input:hover, .button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 3px $second-color;
}

.each_user:hover {
    border: 0.1px solid;
    height: 25px;
    .remove, .edit {
        content: '';
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: url('../icons/trash.png') center (center / cover) no-repeat;
        cursor: pointer;
    }
    .edit {
        background: url('../icons/pencil.png') center (center / cover) no-repeat;
        right: 45px;
        width: 22px;
        height: 22px;
    }
}

.filter_round:hover {
    cursor: pointer;
    border: 3px solid;
}

.icon_modal_notification:hover {
    cursor: pointer;
}

[data-tooltip]:hover:after {
    opacity: 1;
    top: 25px;
    z-index: 10;
   }