.users_list-head {
    position: absolute;
    top: 25px;
    width: 1090px;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    color: $elem-color;
    background: $bcg-color;
    .users_list-wrapper {
        display: grid;
        grid-template-columns: 5% 20% 15% 15% 15% 10% 10% 10%;
        grid-template-rows: 25px;
        justify-items: center;
        padding-top: 8px;
        height: 25px;
        font-weight: 700;
        .sort_icon {
            position: relative;
            top: -17px;
            left: -20px;
            width: 15px;
            height: 15px;
            &-surname, &-added_date, &-loan_amount {
                background: url('../icons/sort-up.svg') center center/cover no-repeat;
                &.hiden {
                    top: 10px;
                }
                &.active {
                    background: url('../icons/sort-up-red.svg') center center/cover no-repeat;
                }
            }
            &-reset_surname, &-reset_added_date, &-reset_amount {
                position: relative;
                background: url('../icons/sort-down.svg') center center/cover no-repeat;
                border-radius: 100%;
                top: -32px;
                z-index: 1;
                &.hiden {
                    display: none;
                    top: -5px;
                }
                &.active {
                    background: url('../icons/sort-down-red.svg') center center/cover no-repeat;
                }
            }
        }
    }
    .users_list {
        display: block;
        position: relative;
        width: 100%;
        height: 365px;
        padding-top: 10px;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        background: $list-color;
        color: $elem-color;
        overflow: auto;
        border-radius: 0 0 10px 10px;
        border: 2px solid $list-color;
        &-warning {
            background: $list-color;
            border-top: 2px solid $warning-color;
        }
        &-expired {
            background: $list-color;
            border-top: 2px solid $main-color;
        }
        .each_user {
            display: grid;
            grid-template-columns: 5% 20% 15% 15% 15% 10% 10% 10%;
            justify-items: center;
            text-transform: uppercase;
            font-size: 20px;
            list-style-type: none;
            position: relative;
            line-height: 25px;
            margin-bottom: 15px;
            &-loan_amount {
                text-transform: lowercase;
            }
        }
        .each_warning {
            .each_user-expiration_date {
                color: $warning-color;
                font-weight: 700;
            } 
        }
        .each_expired {
            .each_user-user_name, .each_user-expiration_date {
                color: $main-color;
                font-weight: 700;
            }
        }
        .each_edit {
            background-color: $bcg-color;
        }
    }
    .filter_rounds {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        width: 100%;
        &-item {
            display: inline-block;
            height: 20px;
            width: 20px;
            border-radius: 100%;
            color: $elem-color;
        }
        &-all {
            background-color: $list-color;
        }
        &-warning {
            background-color: $warning-color;
        }
        &-expired {
            background-color: $main-color;
        }
    }
}

[data-tooltip] {
    position: relative;
    &:after {
        content: attr(data-tooltip);
        position: absolute;
        min-width: 170%;
        max-height: 25px;
        left: -25px; 
        top: 0;
        background: $elem-color;
        color: $modal-color;
        font-size: 12px;
        font-weight: 400;
        padding: 0 10px;
        box-shadow: 2px 2px 5px $elem-color;
        pointer-events: none;
        opacity: 0;
        transition-delay: 0s, .5s;
        z-index: 1000;
    }
}

// [dat-tooltip] {
//     position: relative;
//     &:after {
//         content: attr(dat-tooltip);
//         position: absolute;
//         min-width: 150%;
//         left: -25px; 
//         top: 0;
//         background: $elem-color;
//         color: $modal-color;
//         font-size: 10px;
//         font-weight: 400;
//         padding: 0 10px;
//         box-shadow: 2px 2px 5px $elem-color;
//         pointer-events: none;
//         opacity: 0;
//         transition-delay: 0s, .5s;
//         z-index: 1000;
//     }
// }