.myUseresList {
    position: absolute;
    top: 20px;
    width: 1090px;
    height: 390px;
    margin-bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    background: $second-color;
    .users_list {
        display: block;
        position: relative;
        width: 100%;
        height: 370px;
        padding: 10px 0 0 0;
        margin-bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background: rgb(199, 197, 197);
        color: black;
        overflow: auto;
        .each_user {
            display: grid;
            grid-template-columns: 5% 20% 15% 15% 15% 10% 10% 10%;
            justify-items: center;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: bold;
            list-style-type: none;
            position: relative;
            line-height: 25px;
            color: #000000;
            margin-bottom: 15px;
        }
        .each_warning {
            background-color: rgb(215, 200, 101);
        }
        .each_expired {
            background-color: rgb(210, 97, 97);
        }
        .each_edit {
            background-color: rgb(59, 59, 62);
        }
    }
    .wrapper_for_list {
        display: grid;
        grid-template-columns: 5% 20% 15% 15% 15% 10% 10% 10%;
        justify-items: center;
        height: 25px;
    }
    .filter {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        width: 100%;
        &_round {
            display: inline-block;
            height: 18px;
            width: 18px;
            border: 1px solid;
            border-radius: 100%;
            color: #000000;
            &:hover {
                cursor: pointer;
                border: 3px solid;
            }
        }
        &_all {
            background-color: darkgray;
        }
        &_warning {
            background-color: yellow;
        }
        &_expired {
            background-color: red;
        }
    }
}

[data-tooltip] {
    position: relative;
   }
   [data-tooltip]:after {
    content: attr(data-tooltip);
    position: absolute;
    width: 200px;
    left: -25px; 
    top: 0;
    background: #000000;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    padding:  1% 4%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
   } 