.myUseresList {
    position: absolute;
    top: 20px;
    width: 1100px;
    height: 390px;
    // padding: 0 5px 15px 5px;
    margin-bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    background: $second-color;
    .users_list {
        display: block;
        position: relative;
        width: 100%;
        height: 96%;
        top: 5px;
        padding: 10px 0;
        left: 50%;
        transform: translateX(-50%);
        background: rgb(199, 197, 197);
        color: black;
        overflow: auto;
        .each_user {
            display: grid;
            grid-template-columns: 5% 15% 15% 15% 15% 15% 15% 5%;
            justify-items: center;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: bold;
            list-style-type: none;
            position: relative;
            line-height: 25px;
            color: #000000;
            margin-bottom: 15px;
            // &:hover {
            //     border: 0.1px solid;
            //     // transition: all 0.5;
            //     .remove, .edit {
            //         content: '';
            //         display: block;
            //         position: absolute;
            //         right: 5px;
            //         top: 50%;
            //         transform: translateY(-50%);
            //         width: 20px;
            //         height: 20px;
            //         background: url('../../icons/trash.png') center (center / cover) no-repeat;
            //         cursor: pointer;
            //     }
            //     .edit {
            //         background: url('../../icons/pencil.png') center (center / cover) no-repeat;
            //         right: 30px;
            //         width: 22px;
            //         height: 22px;
            //     }
            // }
        }

        .each_warning {
            background-color: rgb(215, 200, 101);
        }
        .each_expired {
            background-color: rgb(210, 97, 97);
        }
        .each_edit {
            background-color: rgb(59, 59, 62);
        }
    }
    .wrapper_for_list {
        display: grid;
        grid-template-columns: 5% 15% 15% 15% 15% 15% 15% 5%;
        justify-items: center;
    }
}