.modalAdminPanel, .modalAddUsers {
    display: flex;
    position: fixed;
    padding: 25px;
    padding-bottom: 76px;
    top: -200%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 75px;
    justify-content: space-around;
    align-items: space-around;
    height: 500px;
    width: 1140px;
    background-color: $third-color;
    border-radius: 10px;
    transition: all 0.5s;
}

.modalAddUsers {
    padding: 20px 25px;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    background-color: $third-color;
    border-radius: 10px;
}

.modalAdminPanel.active, .modalAddUsers.active {
    top: 0;
}

.modalEditUser {
    display: grid;
    position: absolute;
    width: 100%;
    grid-template-columns: 96% 4%;
    top: 30px;
    right: 0;
    height: auto;
    background-color: $second-color;
    border-radius: 5px;
}

.modalEditUser.hidden {
    display: none;
}

.icon_modal_notification {
    position: absolute;
    background: url('../icons/notification.png') center center/cover no-repeat;
    width: 40px;
    height: 40px;
    top: 440px;
    left: 1075px;
}

.new_notification {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: $main-color;
    border-radius: 100%;
    top: 439px;
    left: 1096px;
}